@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #D3D3D3;
  color: #303030;
  list-style: none;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 85%;
  margin: auto;
  padding: 20px 10px;
}

.navbar-list {
  display: flex;
  position: relative;
  gap: 20px;
}

.navbar-list li {
  list-style: none;
}

.list:last-child{
  background-color: tomato;
  padding: 10px;
  font-weight: 500;
  font-size: 1.3rem;
  text-decoration: none;
  color: #303030;
  margin-top: -10px;
  transform: skew(-15deg);
}

.list:last-child:hover {
  background-color: #303030;
  color: tomato;
}

.navbar-list .list{
  font-size: 1.3rem;
  text-decoration: none;
  color: #303030;
  font-weight: 500;
}

.navbar-list .active{
  border-bottom: 2px solid tomato;
}

.navbar-list .list:hover{
  border-bottom: 2px solid tomato;
}

.logo{
  font-size: 1.5rem;
  text-decoration: none;
  color: #303030;
  font-weight: 600;
  border: 2px solid tomato;
  padding: 3px;
  list-style: none;
}

.logo:hover {
  border: 2px solid #303030;
}

.logo span {
  color: tomato;
}

.menuButton {
  color: #303030;
  cursor: pointer;
  display: none; 
}

/* BANNER */

.banner {
  display: flex;
  justify-content: space-between;
  max-width: 84%;
  margin: auto;
  width: 100%;
}

.name{
  margin: 20px 0;
}

.text-banner {
  max-width: 80%;
  line-height: 25px;
  font-weight: 500;
  font-size: 18px;
  margin-top: 20px;
}

.text {
  color: tomato;
}

.download {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.downloadCV {
  padding: 10px 20px;
  background-color: tomato;
  color: #303030;
  border-radius: 40px;
  font-weight: 600;
  text-decoration: none;
}

.downloadCV:hover {
  background-color: #303030;
  color: tomato;
}

.callMe {
  padding: 10px 20px;
  background-color: #303030;
  color: tomato;
  border-radius: 40px;
  font-weight: 600;
  text-decoration: none;
}

.callMe:hover {
  background-color: tomato;
  color: #303030;
}

.picture {
  height: 400px;
  width: 300px;
  object-fit: cover;
  border-radius: 20px;
  border: 10px solid #303030;
}

.reseauxSociaux {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 40%;
  flex-direction: column;
}

.reseauxSociaux .box{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.reseauxSociaux .box .container {
  display: flex;
}

.reseauSocial {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.proverb {
  max-width: 49%;
  font-size: 1.1rem;
  margin-top: 20px;
}

/* SIDEBAR */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #D3D3D3;
  border: none;
  outline: none;
  transform: translateY(-100%);
  transition: transform .4s ease-in-out;
}

.sidebar.open {
  transform: translateY(0);
}

.sidebar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 90%;
  margin: auto;
  padding: 20px 10px;
}

.sidebar section .sidebar-list{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: block;
}

.sidebar section .sidebar-list .list{
  margin: 20px;
  font-size: 2.5rem;
  text-decoration: none;
  color: #303030;
  font-weight: 700;
  display: block;
  text-align: center;
}

/* A PROPOS */

.apropos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7%;
}

.apropos .container .box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.apropos-title {
  font-size: 3rem;
}

.apropos-title span{
  color: tomato;
}

.apropos .apropos-box{
  max-width: 50%;
  background-color: #303030;
  color: white;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
}

.apropos .apropos-box .apropos-text {
  font-size: 1.2rem;
  line-height: 30px;
  max-width: 100%;
  height: 100%;
  margin: 0% 9% 6% 9%;
} 

.apropos .apropos-box .container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 4%;
  gap: 2%;
}

.apropos .apropos-box .container .name{
  font-size: 1.7rem;
  color: tomato;
}

/* COMPETENCES */

.competence {
  padding: 0 7% 7% 7%;
}

.competence .title-competence {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.competence .title-competence .text-competence{
  margin-top: 20px;
  font-size: 1.1rem;
}

.competence .technic .firstContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.competence .technic .firstContainer .box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px 20px 0px 20px;
}

.competence .technic .firstContainer .box .text-box {
  margin-top: 10px;
  background-color: white;
  font-size: 1.2rem;
  padding: 6px;
  font-weight: 500;
  border-radius: 5px;
}

.competence .technic .firstContainer .box img{
  height: 100px;
  width: 100px;
  object-fit: cover;
}

/* RESPONSIVE */

@media only screen and (max-width: 1024px) {

  /* Styles spécifiques aux tablettes en mode paysage */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 90%;
    margin: auto;
    padding: 10px 10px;
  }

  /* BANNER */
  .banner {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    margin: auto;
    padding-top: 1rem;
    width: 100%;
  }

  .proverb {
    max-width: 72%;
  }

  /* APROPOS */

  .apropos-title {
    font-size: 2.2rem;
  }
  .apropos .apropos-box .container{
    flex-direction: column;
    gap: 1%;
  }

  .apropos .apropos-box .apropos-text {
    font-size: 1.1rem;
  } 
  .apropos .apropos-box .container .name{
    font-size: 130%;
  }
  .apropos-name {
    font-size: 110%;
  }
}

@media only screen and (max-width: 768px) {

  /* Styles spécifiques aux tablettes en mode portrait */
  .picture {
    display: none;
  }
  .navbar-list {
    display: none;
  }
  .menuButton {
    display: block;
  }

  /* APROPOS */

  .apropos{
    flex-direction: column;
  }

  .apropos-title {
    font-size: 1.8rem;
  }

  .apropos .apropos-box .container{
    margin: 3% 0% 0% 0%;
  }

  .apropos .apropos-box .apropos-text {
    font-size: 1rem;
  } 
  .apropos .apropos-box .container .name{
    font-size: 100%;
  }
  .apropos-name {
    font-size: 100%;
  }
}

@media only screen and (max-width: 425px) {
  /* Styles spécifiques aux smartphones en mode portrait */
  .text-banner {
    max-width: 100%;
  }
  .download {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: 25px;
  }
  .reseauxSociaux {
    max-width: 100%;
  }
  .proverb {
    max-width: 100%;
  }
  .sidebar section .sidebar-list .list{
    font-size: 1.3rem;
    max-width: 100%;
  }

  /* APROPOS */
  .apropos {
    margin-top: 20px;
  }
  .apropos .apropos-box{
    margin-top: 20px;
    max-width: 90%;
  }

  /* COMPETENCES */

  .competence {
    margin-top: 20px;
  }

  .competence .title-competence .text-competence {
    max-width: 90%;
    text-align: center;
  }

  .competence .technic .firstContainer .box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px 20px 0px 20px;
  }
}